<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script src="https:/unpkg.com/vue@3/dist/vue.global.js"></script>    
        <style>
            .color-box {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin: 7px;
                display: inline-block;
            }

            .clic{
                cursor: pointer;
            }

            .quantity button{
                border-radius: 50%;
                display: inline-block;
                width: 30px;
            }
            .quantity div{
                text-align: center;
                min-width: 30px;
                display: inline-block;
                font-weight: bold;
            }
            .buy-box{
                margin: 20px;
            }
            footer {
                
                text-align: center;
                padding: 30px 10px;
                margin-top: 50px;
                min-height: 100px;
            }
            .container{
                margin-top: 50px;
            }
            .producto-relacionado-precio{
                background: orangered;
                color: white;
                text-align: center;
                padding: 10px; 
            }
        </style>
</head>

<body>
<div id="appVue">
    <nav class="navbar navbar-expand-lg" v-bind:style="'background-color:'+configPag.menuColor">
        <div class="container-fluid">

            <a class="navbar-brand" href="#">{{ configPag.titulo }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" v-for="item in configPag.menus">
                        <a class="nav-link" v-bind:href="item.url">{{ item.etiqueta }}</a>
                    </li>                    
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" id="{{ product.id }}">
        <div class="row">
            <h3>{{ product.nombre }}</h3>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 ">
                <img v-bind:src="product.imagen" alt="" width="100%">
            </div>
            <div class="col-12 col-sm-6  col-md-8">
                <h6 v-html="product.descripcion"></h6>
                <div class="p-3 mb-2 text-white" v-bind:style="configPag.precioEstilos">
                    Precio: {{ product.precio }} BOB
                </div>
                <h5>Color</h5>
                <div>
                    <div class="color-box clic" v-for="item in product.colores" v-bind:style="'background-color:' + item" @click="seleccionarColor(item)"></div>
                <h5>Cantidad</h5>
                <div class="quantity">
                    <button @click="restarCantidad(cantidad)">-</button> <div>{{ cantidad }}</div> <button @click="aumentarCantidad(cantidad)">+</button>
                </div>
                <div class="buy-box">
                    <div v-if="(cantidad > 0) && (color !== null)">
                        <button type="button" class="btn btn-primary" @click="realizarCompra(color, cantidad)">Comprar</button>
                    </div>                      
                </div>                
            </div>
        </div>
    </div>

    <div class="container ">
        <div class="row">
            <h4>Productos relacionados</h4>
        </div>
        <div class="row">
            <div class="col" v-for="item in productosRelacionados" id="{{ item.id }}">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.nombre }}</h5>
                        <img v-bind:src="productosRelacionados.imagen" alt="" width="100%">
                        <p class="card-text">{{ item.descripcion }}</p>
                        <div class="producto-relacionado-precio" v-bind:style="precioEstilos">Precio:{{ item.precio}} BOB</div>
                        <div>
                            <div>
                                <div class="color-box clic" v-for="colorProducto in item.colores" v-bind:style="'background-color:' + colorProducto"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer v-bind:style="'background-color:' + configPag.footerColor">    
    </footer>
</div>
<script type="module">
    import { createApp, ref } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'
    createApp({
        data() {
            return {
                id: null,
                cantidad: 0,
                color: null,

                configPag: {
                    titulo: "MegaDron",
                    menuColor: "lightblue",
                    footerColor: "slategrey",
                    precioEstilos: "background: orangered; color: white; font-weight: bold",
                    menus: [
                        {
                            etiqueta: "Inicio",
                            url: "?"
                        },
                        {
                            etiqueta: "Tienda",
                            url: "?"
                        }
                    ]
                },
                product: {
                    id:1,
                    imagen:"https://cdn.shopify.com/s/files/1/0640/5067/files/pexels-photo-53903_large.jpg?v=1492718386",
                    nombre: "Dron LU3 MAX GPS 8K HD",
                    descripcion: "Dron LU3 MAX GPS 8K HD profesional con <b>cámara Dual</b>,cardán autoestabilizador, Motor sin escobillas para evitar obstáculos, cuadricópteroplegable",
                    precio:"620 ",
                    colores: ["red", "blue", "black", "yellow"]
                },
                productosRelacionados: [
                    {
                        id:2,
                        imagen:"https://cdn.shopify.com/s/files/1/0640/5067/files/pexels-photo-53903_large.jpg?v=1492718386",
                        nombre: "KF102",
                        descripcion: "Dron plegable KF102 con Gps, 8K, cámara Dual HD, 2 ejes,cardán, Motor sin escobillas, fotografía aérea, 1200M de distancia, novedad de 2022",
                        precio:"1180",
                        colores: ["orange", "blue"]
                    },
                    {
                        id:3,
                        imagen: "https://m.media-amazon.com/images/I/61T16KqZtPL.jpg",
                        nombre: "KBDFA-Dron E888 RC",
                        descripcion: "KBDFA-Dron E888 RC, cuadricóptero profesional FPV, 4K HD,fotografía aérea, evitación de obstáculos, helicóptero, juguetes de distancia",
                        precio:"154",
                        colores: ["black", "midnightblue"]
                    },
                    {
                        id:4,
                        imagen: "https://i.blogs.es/9e6591/dron/450_1000.jpg",
                        nombre: "Dron Profesional 4K con GPS",
                        descripcion: "Dron Profesional 4K con GPS, 8K, cámara HD, 3 ejes, cardánantivibración, evitación de obstáculos, fotografía aérea, Quadcopter, nuevo",
                        precio:"1800",
                        colores: ["teal", "blue", "slategrey", "navy"]
                    }
                ]     
            }
        },
        methods: {
            seleccionarColor(color){
                this.color = color;
                alert("El color seleccionado es: " + this.color)
            },
            aumentarCantidad(cantidad){
                this.cantidad = cantidad + 1;
            },
            restarCantidad(cantidad){
                if (this.cantidad > 0)
                    this.cantidad = cantidad - 1;
            },
            realizarCompra(color, cantidad){
                alert("Desea comprar " + this.cantidad + " Dron(s) de color " + this.color)
            }
        }
    }).mount('#appVue')
    </script>
</body>
</html>